
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Swag.css" />
</head>
<body>
    <header>

        <h1 class="grey">Alex</h1>
        <h1 class="orange">Bierhance</h1>
        <h1 class="purple">Söderberg</h1>
    </header>
    <div id="top"> 
        <a id="home" href="~/Views/Home/Index.cshtml">Home</a>
        <h2>WEB DEVELOPER</h2>
        <a id="about" href="~/Views/Home/About.cshtml">About</a>
       
    </div>
</body>
</html>
